.ss-container, .ss-content {
    display: flex;
    flex-direction: column;
}

.ss-container {
  position: relative;
  overflow-x: hidden;
}

.ss-content {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  margin-right: -17px;
  padding: 0 17px 0 0;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: overlay;
  box-sizing: border-box;
}

.ss-scroll {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 12px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .25s ease-in-out, top .2s ease-out;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ss-scroll::before {
  content: "";
  position: relative;
  top: 1%;
  display: block;
  margin: 0 3px 0 auto;
  width: 4px;
  height: 98%;
  background: #b7b7b7;
  border-radius: 4px;
  transition: .25s width ease-in-out;
}

.ss-container:hover .ss-scroll {
  opacity: 1;
}

.ss-scroll:hover::before, .ss-scroll.ss-grabbed::before {
  width: 6px;
}

.ss-hidden > .ss-scroll {
  display: none;
}